/* ClassementProjets.css */

.classement-projets-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .projets-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .projets-table th,
  .projets-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .projets-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
  }
  
  .projets-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .projets-table tbody tr:hover {
    background-color: #f2f2f2;
  }

  
  .positionnement-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .positionnement-button:hover {
    background-color: #0056b3;
  }


  .arrow-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .informations-supplementaires {
    background-color: #f9f9f9;
    padding: 10px;
  }