.outlet-toolbar-container {
  display: flex; /* Aligner horizontalement */

}

.button-projet-container {
  display: flex; /* Utilisation de flexbox pour aligner les éléments */
  flex-direction: column; /* Aligner les éléments en colonne */
  width: 66%; /* Largeur maximale de 30% de la fenêtre */
  min-width: 200px; /* Largeur minimale pour éviter une trop petite toolbar */
  height: 100%;
}


.projets-table {
  width: 100%; /* Pour occuper toute la largeur du parent */
  height: 100%;
  border-collapse: collapse; /* Fusionner les bordures des cellules */
  margin-top: 20px; /* Espacement entre les boutons et la table */
}

.projet-container {
  display: flex; /* Utilisation de flexbox pour aligner les éléments */
  flex-direction: column; /* Aligner les éléments en colonne */
  align-items: center; /* Centrer horizontalement les éléments */
  width: 100%; /* Pour occuper toute la largeur du parent */
  
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Pour occuper toute la largeur du parent */
  margin-top: 20px; /* Espacement entre la table et les boutons */
}

.projets-table th, .projets-table td {
  padding: 10px; 
  border-right: 1px solid #ddd;  
}

.projets-table th {
  background-color: #ebebeb; 
  text-align: left; 
}

.add-button, .arrow-button, .supp-button{
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px; /* Coins arrondis */
  transition: background-color 0.3s; /* Transition legere pour l'effet hover */
}

.add-button {
  background-color: #66b3ff;
  color: white;
  border: none;
}

.arrow-button, .supp-button {
  background-color: transparent; 
  color: black; 
  border: none;
}

.add-button:disabled {
  opacity: 0.5; 
  pointer-events: none;
}

.add-button:hover {
  background-color: #3385ff;
}

.arrow-button:hover {
  background-color: #f2f2f2; 
}


.informations-supplementaires {
  background-color: #ebebeb; /* Couleur de fond plus sombre */
  color: black; /* Couleur de texte blanc */
  padding: 10px;
  border-radius: 12px; /* Coins arrondis */
  margin-top: 10px;
}


.suivant-button {
  background-color: #008a00;
  color: white;
  border: none;
  padding: 10px 20px; /* Ajuster le padding pour le dimensionnement */
  font-size: 16px; /* Taille du texte */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition legere pour l'effet hover */
}

.retour-button {
  background-color: #212121;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: auto; /* Ajout de cette propriété pour aligner le bouton à gauche */
}

.suivant-button:hover {
  background-color: #006300;
}

.retour-button:hover {
  background-color: #000000;
}

